/* ================================================================ */
/* HEADER NAV */
/* ================================================================ */
#header_open{
    position: relative;
    width: clamp(320px, 320px, 30%);
    height: 100vh;
    display: flex;
    transition: 0.2s ease;
    flex-shrink: 0;
    z-index: -1;
    background-color: transparent !important;
}

header{
    position: fixed;
    top: 0;
    left: 0;

    width: clamp(320px, 320px, 30%);
    height: 100dvh;
     
    background: #ffffff;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.2s ease;
    flex-shrink: 0;
    z-index: 3;
    opacity: 0;
    animation: header 0.8s 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
@keyframes header {
  0%{
    opacity: 0;
    transform: translateX(clamp(-90px, -120px, -13%));
  }
  100%{
    opacity: 1;
    transform: translateX(clamp(0));
  }
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    transition: 0.2s ease;
}
header p{
    line-height: 1;
    margin: 0;
    padding: 0;
}
header nav div{
    width: 100%;
}

/* ================================================================ */
/* BOTÃO ATIVA MENU */
/* ================================================================ */
header nav div button{
    width: 100%;
    border: none;
    cursor: pointer;

    background: rgba(43, 102, 255, 0.10);
    border-radius: 64px;

    font-family: Roobert TWHINT Bold;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: left;
     
    color: rgba(43, 102, 255, 0.80);
    padding: 22px 32px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    transition: 0.2s ease;
}
header nav div button:hover{
    color: rgba(43, 102, 255, 1);
    background: rgba(43, 102, 255, 0.20);
}

/* ================================================================ */
/* LINKS MENU */
/* ================================================================ */
header nav .links{
    padding: 0 9px;
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}
header nav .links a{
    width: 100%;
    border-radius: 8px;   
    padding: 18px 21px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;

    font-family: Roobert TWHINT Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    letter-spacing: 0.02em;
    text-align: left;
     
    color: #00113A;
    fill: #00113A;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    opacity: 0.7;
    transition: 0.2s ease;
    text-decoration: none;
}
header nav .links a:hover{
    background-color: rgba(43, 102, 255, 0.10);
    color: #2B66FF;
    fill: #2B66FF;
    opacity: 1;
}
.ativo{
    background-color: rgba(43, 102, 255, 0.10) !important;
    color: #2B66FF !important;
    fill: #2B66FF !important;
    opacity: 1 !important;
}

/* ================================================================ */
/* LINKS CONFIGS */
/* ================================================================ */
header nav ul{
    width: 100%;
    
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
header nav ul button{
    width: 100%;
    cursor: pointer;
    font-family: PP Mori;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 11px;
    letter-spacing: 0.02em;
    text-align: left;
     
    color: #00113A;
    fill: #00113A;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    opacity: 0.6;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 30px;
    transition: 0.2s ease;
    background-color: transparent;
    border: none;
}
header nav ul button:hover{
    background-color: #00113a15;
    opacity: 0.9;
}
header nav ul a{
    width: 100%;
    cursor: pointer;
    font-family: PP Mori;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 11px;
    letter-spacing: 0.02em;
    text-align: left;
     
    color: #00113A;
    fill: #00113A;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    opacity: 0.6;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 30px;
    transition: 0.2s ease;
}
header nav ul a:hover{
    background-color: #00113a15;
    opacity: 0.9;
}

/* ================================================================ */
/* PERFIL */
/* ================================================================ */
header #perfil{
    width: 100%;
    padding: 28px 43px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 17, 58, 0.05);
    color: rgba(0, 17, 58, 0.6);
    transition: 0.2s ease;
}
header #perfil:hover{
    background: rgba(43, 102, 255, 0.10);
    color: #2B66FF;
}
header #perfil div{
    display: flex;
    align-items: center;
    gap: 20px;

    font-family: PP Mori;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: left;
}

/* ================================================================ */
/* HEADER CLOSED */
/* ================================================================ */
.header_closed{
    width: 85px !important;
}
.header_closed p{
    display: none;
}
.header_closed nav{
    padding: 9px;
}
.header_closed nav div button{
    background-color: transparent;
    color: rgba(0, 17, 58, 0.70);
    padding: 22px 0px;
    justify-content: center;
}
.header_closed nav .links a{
    padding: 18px 0px;
    justify-content: center;
}
.header_closed nav ul{
    padding: 4px 9px;
}
.header_closed nav ul li{
    padding: 9px 0px;
    justify-content: center;
}
.header_closed nav ul a{
    padding: 9px 0px;
    justify-content: center;
}
.header_closed nav ul button{
    padding: 9px 0px;
    justify-content: center;
}
.header_closed #perfil{
    padding: 28px 0px;
    justify-content: center;
}

/* ================================================================ */
/* DARK MODE */
/* ================================================================ */

.dark-mode header nav div button{
    background-color: #00113a18;
    color: #00113a;
    fill: #00113a;
    opacity: 0.9;
}
.dark-mode header nav div button:hover{
    background-color: #00113a25;
    color: #00113a;
    fill: #00113a;
}
.dark-mode .header_closed nav div button{
    background-color: transparent;    
}
.dark-mode header nav .links a:hover{
    background-color: #00113a23;
    color: #00113a;
    fill: #00113a;
}
.dark-mode .ativo{
    background-color: #00113a23 !important;
    color: #00113a !important;
    fill: #00113a !important;
}
.dark-mode header nav ul li:hover{
    background-color: #00113a23;
    opacity: 1;
}
.dark-mode header nav ul a:hover{
    background-color: #00113a23;
    opacity: 1;
}
.dark-mode header #perfil{
    border-top: 2px solid rgba(0, 17, 58, 0.1);
    color: rgba(0, 17, 58, 0.6);
}
.dark-mode header #perfil:hover{
    background: rgba(43, 102, 255, 0.2);
    color: #00113ac7;
}



/* ================================================================ */
/* MOBILE */
/* ================================================================ */
@media (max-width: 888px) {
    #header_open{
        position: fixed;
        top: 0px;
        left: 0px;
    }
    header{
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .header_closed{
        position: fixed !important;
        top: 17px;
        left: 24px;
        width: 55px !important;
        height: 55px !important;
        border-radius: 12px;
    }
    .header_closed nav{
        padding: 0;
    }
    .header_closed nav div button{
        width: 55px;
        height: 55px;
        border-radius: 0;
    }
    .header_closed nav div .links{
        opacity: 0;
        pointer-events: none;
    }
    .header_closed nav ul{
        opacity: 0;
        pointer-events: none;
    }
    .header_closed #perfil{
        opacity: 0 !important;
        pointer-events: none;
    }
    .header_closed nav div button:hover{
        background-color: transparent;
        color: rgba(0, 17, 58, 0.70);
    }
    .dark-mode .header_closed{
        background-color: #00113a15;
    }
    .dark-mode .header_closed nav div button:hover{
        background-color: transparent;
    }
    .header_closed nav div{
        height: 0;
    }
}



/* ================================================================ */
/* SOMBRA MENU MOBILE */
/* ================================================================ */

.sombra_menu_open{
    display: none;
    opacity: 0;
    animation: sombra_menu_open 0.2s ease forwards;
}
@keyframes sombra_menu_open {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 888px) {
    .sombra_menu_open{
        display: block !important;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
    }
}
.sombra_menu_closed{
    display: none;
    z-index: 2;
}