.em_Desenvolvimento{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999;
    pointer-events: none;
    opacity: 0;
    animation: entra_em_Desenvolvimento 1s ease forwards;
}
.close{
    animation: fechar_em_Desenvolvimento 0.8s ease forwards;
}

.fechar_em_Desenvolvimento{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background: rgba(0, 17, 58, 0.15000000596046448);
 
    backdrop-filter: blur(10.084033012390137px);
    animation: entra_em_Desenvolvimento 1s ease forwards;
    opacity: 0;
}
@keyframes entra_em_Desenvolvimento {
    0%{
        opacity: 0;
        pointer-events: none;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes fechar_em_Desenvolvimento {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    99%{
        opacity: 0;
        pointer-events: none;
    }
    100%{
        display: none;
    }
}



.em_Desenvolvimento_dentro{
    position: absolute;
    z-index: 2;
    max-width: 822px;
    height: 700px;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 32px;
    padding: 31px;
    box-sizing: border-box;
    animation: slide-in-blurred-bottom 1.4s  cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
    opacity: 0;
    margin:0px 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    background-color: #f1f1f1;
}
.em_Desenvolvimento_dentro_fecha{
    animation: slide-out-blurred-top 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
}
@-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scale(0.2);
              transform: translateY(1000px) scale(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scale(0.2);
              transform: translateY(1000px) scale(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-blurred-top {
    0% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px) scale(0.2);
              transform: translateY(-1000px) scale(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
  }
  @keyframes slide-out-blurred-top {
    0% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px) scale(0.2);
              transform: translateY(-1000px) scale(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
  }





.em_Desenvolvimento_dentro img{
      width: 50%;
      height: auto;
      position: relative;
      border-radius: 28px;
      overflow: hidden;
      display: flex;
      box-sizing: border-box;
}
.em_Desenvolvimento_dentro h2{
        display: flex;
        align-items: center;
        gap: 16px;
        font-family: Roobert TWHINT Bold;
        font-style: normal;
        font-weight: 700;
        font-size: clamp(1.625rem, 1.5714rem + 0.2679vw, 2rem);
        line-height: 1;
        letter-spacing: -0.03em;
        text-align: center;
        margin-bottom: 0;
         
        color: rgba(0, 17, 58, 0.8);
}
.em_Desenvolvimento_dentro p{
        width: 60%;
        font-family: PP Mori;
        font-style: normal;
        font-weight: 600;
        font-size: clamp(1rem, 0.9821rem + 0.0893vw, 1.125rem);
        line-height: 1.2;
        text-align: center;
        margin: 0;
         
        color: rgba(0, 17, 58, 0.8);
}
.em_Desenvolvimento_dentro button{
        font-family: PP Mori;
        font-style: normal;
        font-weight: 600;
        font-size: clamp(1rem, 0.9821rem + 0.0893vw, 1.125rem);
        line-height: 1.2;
        text-align: center;
        margin: 1em;
         
        color: #2B66FF;
        border: none;
        cursor: pointer;
}
.em_Desenvolvimento_dentro button:hover{
        color: rgba(0, 17, 58, 1);
}