.Erro404{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Erro404 img{
    width: 320px;
    border-radius: 15px;
}
.Erro404 h1{
    font-family: Roobert TWHINT Bold;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.4375rem, 1.2857rem + 0.7589vw, 2.5rem);
    line-height: 1;
    letter-spacing: -0.04em;
    text-align: center;
    margin-top: 30px;
     
    color: rgba(0, 17, 58, 0.8);
}
.Erro404 p{
    font-family: PP Mori;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1rem, 0.9821rem + 0.0893vw, 1.125rem);
    line-height: 1;
    text-align: center;
    margin: 0;
     
    color: rgba(0, 17, 58, 0.6);
}
.Erro404 a{
    font-family: Roobert TWHINT Bold;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.25rem, 1.2143rem + 0.1786vw, 1.5rem);
    line-height: 1;
    letter-spacing: -0.04em;
    text-align: center;
    cursor: pointer;
    margin-top: 48px;
     
    color: #2b66ff;
}
.Erro404 a:hover{
    color: #00113A;
}

@media (max-width:888px) {
    .Erro404{
        height: 90%;
    }
    .Erro404 a{
        margin-top: 33px;
    }
}